@using DeftIndustries.FeedMix.ViewModels
@model DeftIndustries.FeedMix.ViewModels.FeedsIndexViewModel

@{
    var userIndex = 0;

    Layout.Title = T("Feeds").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()
    <div class="manage">@Html.ActionLink(T("Add a new feed").ToString(), "Create", new { }, new { @class = "button primaryAction" })</div>

    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" class="check-all" /></th>
                    <th scope="col">@T("Name")</th>
                    <th scope="col">@T("URL")</th>
                    <th scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @foreach (var feed in Model.Feeds)
            {
                <tr>
                    <td></td>
                    <td>@Html.ActionLink(feed.Feed.Title, "Edit", new { feed.Feed.Id })</td>
                    <td></td>
                    <td>
                        @Html.ActionLink(T("Edit").ToString(), "Edit", new { feed.Feed.Id }) |
                        @Html.ActionLink(T("Delete").ToString(), "Delete", new { feed.Feed.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                    </td>
                </tr>
                userIndex++;
            }
        </table>

        @Display(Model.Pager)

    </fieldset>
} 