@model DeftIndustries.FeedMix.ViewModels.FeedEditViewModel
<div class="manage">@Html.ActionLink(T("Add a new feed").ToString(), "AddFeed", "Admin", new { id=Model.Feed.Id }, new { @class = "button primaryAction" })</div>
<fieldset>
    @Html.LabelFor(m => m.Title, T("Title"))
    @Html.TextBoxFor(m => m.Title, new { @class = "textMedium" })
    @Html.ValidationMessageFor(m => m.Title, "*")
</fieldset>
<table class="items">
    <thead>
        <tr>
            <th>Valid</th>
            <th>Author</th>
            <th>Title</th>
            <th>URL</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var feed in Model.Feeds) {
        <tr>
            <td><img src="@Href("~/Modules/DeftIndustries.Feedmix/Styles/Images/ok.png")" height="10px" width="10px" /></td>
            <td>@feed.Author</td>
            <td>@feed.Title</td>
            <td><a href="@feed.URL">@feed.URL</a></td>
            <td>
                @Html.ActionLink(T("Edit").ToString(), "EditFeed", new { feed.Id }) |
                @Html.ActionLink(T("Delete").ToString(), "DeleteFeed", new { Id = Model.Feed.Id, feedId = feed.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
            </td>
        </tr>
    }
</table>